* {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #2a2c35;
  color: #f1f1f1;
}

h1 {
  font-weight: 600;
}

h3 {
  width: 800px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  padding: 10px 0 10px 0;
}

header {
  text-align: center;
}

section {
  text-align: center;
  padding: 0 0 30px 0;
}

table.code-table {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  /*border: 1px solid #525861;*/
  border-radius: 10px;
  border-collapse: collapse;
}

th {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  text-align: left;
  background-color: #394053;
  color: #767e8b;
  padding: 15px 3px 15px 10px;
}

td {
  background-color: #323136;
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: left;
  padding: 5px 0 5px 10px;
}

.code {
  color: #fd5765;
  font-weight: 600;
  font-family: monospace;
  font-size: 16px;
}

#code-logo {
  width: 300px;
}

img.gif {
  width: 400px;
  padding-bottom: 1em;
  opacity: 0.8;
  border-radius: 5px;
}
